
  .projects {
    padding-bottom: 10rem;
    font-size: 13px;
  color: white;
  
   

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5rem 0;
    grid-gap: 2rem;
  }
    &__item {
     width: 450px;
      position: relative;
      border-bottom: 5px solid #AF6FAB;
      overflow: hidden;
      cursor: pointer;
      h3{
        font-weight: 600;
      }
      span {
        font-weight: 300;
      }
  
      img {
        width: 100%;
      }
  
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 100%;
        width: 100%;
        background: #d3aed0;
        opacity: 0;
       
      }
  
      &:hover {
        &::after {
          top: 0;
          opacity: 0.9;
        }
        .projects__btn {
          opacity: 1;
        }
      }
    }
  
    &__btns {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: center;
    }
  
    &__btn {
      opacity: 0;
      color: #603B61;
      font-weight: 600;
      
  
      &:hover {
       font-weight: 350;

      }
    }
  
   
    
  }
