.page {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: 70px;
}

.top-tags {
    bottom: auto;
    top: 35px;
}

.tags {
    color: #AF6FAB;
    opacity: 2;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 22px;
    font-family: 'LaBelleAurore';
}
.bottom-tag-html {
    margin-left: -20px;
}
.container {
    width: 100px;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}
@media screen and (max-width: 880px) {
    .tags {
        left: 55px;
    }
    .body-tag {
        margin-left: -30px;
    }
    
  }
  @media screen and (max-width: 700px) {
    .top-tags {
        margin-top: 100px;
    }
  }
  @media screen and (max-width: 550px) {
    .tags {
        left: 20px;
    }
   
    
  }
  @media screen and (max-width: 500px) {
    .page {
        display: none;
    }
   
    
  }